{
  "env": {
    "browser": true,
    "es6": true,
    "webextensions": true
  },
  "globals": {
    "chrome": true,
    "crypto": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0
  },
  "extends": [
    "eslint:recommended"
  ]
}
